@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/nunito-400.woff2') format('woff2');
}
// TODO: Delete font-weight 600 if not used
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/fonts/nunito-600.woff2') format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/fonts/nunito-700.woff2') format('woff2');
}

.image-bg {
  // background-color: #f8f7fd;
  // background-color: linear-gradient(to right, red, yellow);
  background-image: linear-gradient(to right, #4a40bf, #6186f5);
  background-image: url('https://www.transparenttextures.com/patterns/cartographer.png'),
    linear-gradient(to right, #4a40bf, #6186f5);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.button {
  background-image: linear-gradient(to right, #4a40bf, #6186f5) !important;

  &:hover {
    opacity: 0.9;
  }
}
