/********** FONT FACES **********/
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/nunito-400.woff2') format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/nunito-700.woff2') format('woff2');
}

/********** GENERAL CLASS STYLING **********/
.image-bg {
  background-image: linear-gradient(to right, #4a40bf, #6186f5);
  background-image: url('/cartographer.png'), linear-gradient(to right, #4a40bf, #6186f5);
}

.info-container {
  @media screen and (min-width: 48em) {
    padding: 0 2rem;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    & + & {
      border-left: solid 1px #ededed;
    }
  }
}

.toggle-details-btn {
  background-image: linear-gradient(to right, #4a40bf, #6186f5) !important;

  &:hover {
    opacity: 0.8;
  }
}
